body {
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.nav {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    background-color: rgb(70, 70, 252);
    color: white;
    padding-left: 50px;
}

.box {
    border: 3px solid rgb(30, 8, 127);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    margin-bottom: 30px;
    width: 60%;
    background-color: rgb(180, 223, 249);
    text-align: center;
    font-weight: 400;
}

.link {
    padding-top: 10px;
}

.container:first-child {
    margin-top: 90px;
}

.main {
    color: rgb(120, 19, 153);
}

img {
    border: 20px solid rgb(123, 25, 198);
}

td {
    border: 3px solid black;
    height: 100px;
    width: 200px;
}

.bottom {
    display: flex;
    flex-direction: row;
}

table {
    border-collapse: collapse;
    text-align: center;
    margin-left: 50px;
    margin-top: 90px;
}

tr:nth-child(2n+1) {
    background-color: rgb(36, 184, 228);
}

tr:nth-child(2) {
    background-color: pink;
}